.header-row {
  height: 112px;
}

#heading {
  height: 100%;
  text-align: center;
  font-size: 70px;
}

.body-row {
  text-align: center;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#correct-answer {
  font-size: 32px;
}